brew-installed*
*-bak

Session.vim
**/Session.vim

**/.config/git/.gitconfig-private
**/.config/git/.gitconfig-local

packages/tmux/.config/tmux/plugins/*
packages/tmux/.config/tmux/resurrect
!packages/tmux/.config/tmux/plugins/tpm
packages/tmux/.config/tmux/notify/*.pid

packages/claude/.claude/*
!packages/claude/.claude/settings.json
!packages/claude/.claude/CLAUDE.md
!packages/claude/.claude/agents
!packages/claude/.claude/commands
!packages/claude/.claude/plugins
!packages/claude/.claude/skills
packages/claude/.claude/plugins/marketplaces/*

packages/ccstatusline/**/*.bak

packages/zsh/.config/zsh/.zsh_history
packages/zsh/.config/zsh/.zprofile

.claude/settings.local.json