brew-installed*
*-bak

Session.vim
**/Session.vim

**/dot-config/git/.gitconfig-private
**/dot-config/git/.gitconfig-local

packages/tmux/dot-config/tmux/plugins/*
packages/tmux/dot-config/tmux/resurrect
!packages/tmux/dot-config/tmux/plugins/tpm
packages/tmux/dot-config/tmux/notify/*.pid

packages/claude/dot-claude/*
!packages/claude/dot-claude/settings.json
!packages/claude/dot-claude/CLAUDE.md
!packages/claude/dot-claude/agents
!packages/claude/dot-claude/commands
!packages/claude/dot-claude/plugins
!packages/claude/dot-claude/skills
packages/claude/dot-claude/plugins/marketplaces/*

packages/ccstatusline/**/*.bak

packages/zsh/dot-config/zsh/.zsh_history
packages/zsh/dot-config/zsh/.zprofile
